In [1]:
import numpy as np
import pandas as pd

In [2]:
seasons = [str(season) for season in range(2021, 2025)]

teams = ['crd', 'atl', 'rav', 'buf', 'car', 'chi', 'cin', 'cle', 'dal', 'den', 'det', 'gnb', 'htx', 'clt', 'jax', 'kan', 'sdg', 'ram', 'rai', 'mia', 'min', 'nwe', 'nor', 'nyg', 'nyj', 'phi', 'pit', 'sea', 'sfo', 'tam', 'oti', 'was']

In [3]:
import random
import time

nfl_df = pd.DataFrame() #empty dataframe to append to

for season in seasons:
    for team in teams:
      url = 'https://www.pro-football-reference.com/teams/' + team + '/' + season + '/gamelog/'
      offData = pd.read_html(url, header=1, attrs={'id':'gamelog' + season})[0]
      defData = pd.read_html(url, header=1, attrs={'id':'gamelog_opp' + season})[0]
      team_df = pd.concat([offData, defData], axis=1) #concat 2 dataframes (axis=1 means combine along columns rather than rows)
      #create columns that include team name and season
      team_df.insert(loc=0, column='Season', value=season)
      team_df.insert(loc=2, column='Team', value=team.upper())

      nfl_df = pd.concat([nfl_df, team_df], ignore_index = True) #concat along rows
      time.sleep(random.randint(7, 8))

print(nfl_df)

     Season  Week Team  Day          Date Unnamed: 3 Unnamed: 4   OT  \
0      2021     1  CRD  Sun  September 12   boxscore          W  NaN
1      2021     2  CRD  Sun  September 19   boxscore          W  NaN
2      2021     3  CRD  Sun  September 26   boxscore          W  NaN
3      2021     4  CRD  Sun     October 3   boxscore          W  NaN
4      2021     5  CRD  Sun    October 10   boxscore          W  NaN
...     ...   ...  ...  ...           ...        ...        ...  ...
2169   2024    13  WAS  Sun    December 1   boxscore          W  NaN
2170   2024    15  WAS  Sun   December 15   boxscore          W  NaN
2171   2024    16  WAS  Sun   December 22   boxscore          W  NaN
2172   2024    17  WAS  Sun   December 29   boxscore          W   OT
2173   2024    18  WAS  Sun     January 5   boxscore          W  NaN

     Unnamed: 6                   Opp  ...  FGA  XPM  XPA  Pnt  Yds.3  3DConv  \
0             @      Tennessee Titans  ...    1    1    2    3    151       5
1           NaN     Minnesota Vikings  ...    3    3    4    5    231       2
2             @  Jacksonville Jaguars  ...    0    1    3    6    289       2
3             @      Los Angeles Rams  ...    3    2    2    1     37       6
4           NaN   San Francisco 49ers  ...    1    1    1    2     97       3
...         ...                   ...  ...  ...  ...  ...  ...    ...     ...
2169        NaN      Tennessee Titans  ...    2    1    1    4    213       5
2170          @    New Orleans Saints  ...    2    1    1    4    187       3
2171        NaN   Philadelphia Eagles  ...    5    3    3    4    160       3
2172        NaN       Atlanta Falcons  ...    2    3    3    3    141       2
2173          @        Dallas Cowboys  ...    4    1    1    4    198       7

      3DAtt  4DConv  4DAtt    ToP
0        14       1      3  26:39
1        10       0      0  28:08
2        11       1      1  27:06
3        11       0      1  24:50
4        11       1      5  31:54
...     ...     ...    ...    ...
2169     12       0      1  19:47
2170     11       1      1  19:10
2171     16       3      3  36:18
2172     10       2      2  25:46
2173     17       1      2  37:03

[2174 rows x 74 columns]

In [4]:
nfl_df.to_csv('nfl_data.csv', index=False)